@import '~sass-flex-mixin/_flex.scss';

.introduction-section {
  width: 100%;
  padding: 50px 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  
  .arrow-container {
    text-align: center;
  }

  .data-container {
    @include flex-basis(100%);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .intro {
      font-family: 'Roboto Light', sans-serif;
      color: #1D2225;
      font-size: 4em;
      margin: 20px 0;
    }

    .title {
      font-family: 'Roboto Slab Bold', sans-serif;
      color: #1D2225;
      font-size: 5.34em;
      margin: 20px 0 40px 0;
      width: 80%;
    }

    .examples-container {
      @include flexbox();
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 40px 0 20px 0;

      span {
        font-family: 'Roboto Light', sans-serif;
        color: #1D2225;
        font-size: 4em;
      }
    }
  }
}