.learn-more-section {
  width: 100%;
  padding: 50px 20%;
  box-sizing: border-box;

  .description {
    margin: 0 0 20px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 4em;
    line-height: 86px;
  }

  .title {
    margin: 20px 0 60px;
    font-family: 'Roboto Slab Bold', sans-serif;
    font-size: 5.34em;
    line-height: 85px;
  }

  .demo-btn {
    text-decoration: none;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #072acd;
    color: #ffffff;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.75em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}